secrets.yaml
deps/*
www/*
tts/*
.HA_VERSION
.uuid
backup_nest.conf
home-assistant.db
home-assistant_v2.db
home-assistant.log
known_devices.yaml
nest.conf
phue.conf
plex.conf
.config_entries.json
home-assistant_v2.db-shm
home-assistant_v2.db-wal
phue-001788468cbf.conf
entity_registry.yaml
.cloud/*
.idea/*
