secrets.yaml
deps/*
www/peter.jpg
www/vivi.jpg
www/tmp/*
tts/*
.HA_VERSION
.uuid
html5_push_registrations.conf
backup_nest.conf
home-assistant.db
home-assistant_v2.db
home-assistant.log
known_devices.yaml
nest.conf
phue.conf
plex.conf
.config_entries.json
home-assistant_v2.db-shm
home-assistant_v2.db-wal
phue-001788468cbf.conf
entity_registry.yaml
.cloud/*
.idea/*
.storage/*
.august.conf
.pip_progress
zigbee.db
OZW_Log.txt
options.xml
pyozw.sqlite
zwcfg_0xc463fe55.xml
zwscene.xml
tensorflow/*
